<h1>doctor login screen</h1>
<div class="logo">
 <img src="../img/logo.png" alt="logo"></img>
</div>

<div class="list doctorloginField">
  <label class="item item-input ">
    <i class="icon ion-person"></i>
    <input type="text"  placeholder="email / phno">
  </label>
  <label class="item item-input">
    <i class="icon ion-locked"></i>&nbsp;
    <input type="password"  placeholder="Password">
  </label>

</div>

<a class="button doctorloginButton" href="#/login_before_screen">Login</a>
<div>
<a class="button doctorCancelButton" href="#/login_before_screen">Cancel</a>
</div>
<br>
<a class="forgotPasswordlink" href="#">Forgot Password&nbsp;</a> <i class="ion-help-circled"></i>
<br>
<br>

<div class="login_icons">
<h4>Sign in with</h4>
 <i class="ion-social-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="ion-social-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="ion-social-google"></i>
</div>
